<h1 style="text-align: center;">JKT dashboard</h1>

<div class="center">
	<table class="tiles">
		<tr>
			<td>	<a [routerLink]="['PlayersList']">Liste des joueurs</a>		</td>
			<td>	<a [routerLink]="['PlayersList']">Liste des joueurs</a>		</td>
			<td>	<a [routerLink]="['MapsList']">Liste des Map</a>			</td>
		</tr>
		<tr>
			<td>	<a [routerLink]="['PlayersList']">Liste des joueurs</a>		</td>
			<td>	<a [routerLink]="['MapsList']">Liste des Map</a>			</td>
		</tr>
	</table>
</div>

<router-outlet></router-outlet>