!touch
project/EclipseCDT4-MinGW-Makefiles/*
libs/**/*.o
deploy/config.ini
deploy/**/*.log
deploy/Debug-g++/*
deploy/stderr.txt
deploy/stdout.txt
deploy/jkt.exe
deploy/libjkt.dll.a
deploy2/**/*.log
deploy2/Debug-g++/*
deploy2/stderr.txt
deploy2/stdout.txt
deploy2/jkt.exe
deploy2/libjkt.dll.a
deploy2/*.dll
deploy/Images/
save-*.map.xml
deploy/Images/photo.bmp
