project/EclipseCDT4-MinGW-Makefiles/*
libs/zipArchive-4.2.1/ZipArchive/*.o
libs/zipArchive-4.2.1/ZipArchive/bzip2/*.o
libs/zipArchive-4.2.1/ZipArchive/zlib/*.o
deploy/Debug-g++/*
deploy/plugins/*.log
!touch
