.center {
	/*opacity: 0.4;*/
	background-image:url(fond.jpg);
}
.title {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}
.tiles {
	border-collapse: separate;
	border-spacing: 40px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.tiles td  {
    width: 100px;
	height: 100px;
	padding: 10px;
	background-color: #00FF00;
	border: 1px solid #000000;
	border-radius: 25px;
	box-shadow: 6px 10px 6px #00AA00;
}
.tiles td:hover, .tiles td:active {
    background-color: #FFFF00;
	box-shadow: 3px 5px 3px #AAAA00;
}
.tiles td a {
	display:inline-block;
	vertical-align: middle;
}
.geo {
  list-style-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACDElEQVQ4Ea1VPUsjURSdlw8nxTaLKJbiR7JgI7qFjRbbpUgmgvkJVoIurHFZdNFKVgXRrfwPUZPJFGks0qu7hSAyi9oJYqEkQTIT5e25k0x4vMmoAR883r3nnHvf1503TGnT4vG4Gg6raVDT6KPoH5uye8aUv5yzXL1e2y8Wi1YTbw2sZTUNTdNmELAFt1/mJP+acyVjGPkDEW8lTKfTwVrN3maMzYuCN9g7qhpezGazz6QNuQGWZe8i2ZzrdzB+xUIC0C9QjLPCRCKVwtnkOkgiSzljXNN13WDYapdl1c+hGJRVoo/Vb3DOv4uYZP/r6+sdCQ4Nxeg2ZyXS40L8pVKpBpB4ykM2gO5q9fEsgFlTPgIPbBj6ChKue4gmQLlCOLuxNoIjGTNNkxOm67nlZDJFZ/9D1uAcxxjICogPIlko5FvlJOKijbhV+GsiBrtC1/1qsBTkuNherR1OdXiDPiySmP1E9Mkulx8mSqXSE9nglzD8IltqN7gU5Y8Ekjsu92g06uwkmZzOgNsgkdyQ65TKIC8Tfn4ioS0qCt/04ylXQFVDhxBc+olc/Pb27hsC6NHwayjsnsZtvuenF6TpTPPiIhb7pMKc9Jv+JRw3vl4o6HukobJxGp6gnyB+u34H404k0kU16TRPDb7bA+vOQGPjFxCh5z+OW/2MPtDg2RXGY3xiRdu28+1+Af8B5Veuq3n4GT4AAAAASUVORK5CYII=);
}
