<div *ngIf="mapElement" class="container">
	<form (ngSubmit)="onSubmit()">
		<div>
			<label>ID : </label>
			{{ mapElement.id }}
		</div>
		<div>
			<label>Name :</label>
			<input type="text" [(ngModel)]="mapElement.name" name="name" />
		</div>
		<div>
			<label>Type :</label>
			{{ mapElement.type }}
		</div>
		<div>
			<label>Hide :</label>
			<input type="checkbox" [(ngModel)]="mapElement.hidden" name="hidden" />
		</div>
		<div>
			<label>Highlighted :</label>
			<input type="checkbox" [(ngModel)]="mapElement.highlighted" name="highlighted" />
		</div>

		<map-graph-element-characteristic *ngFor="let caracName of mapElement.caracs.keys" [carac]="carac[caracName]"></map-graph-element-characteristic>
		
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>