
<!-- BOOL -->

<div *ngIf="carac.type == 'bool' && !carac.updatable">
	<label>{{ carac.name }} :</label>aaa
	<input type="checkbox" [(ngModel)]="carac.value" disabled />
</div>

<div *ngIf="carac.type == 'bool' && carac.updatable">
	<label>{{ carac.name }} :</label>bbb
	<input type="checkbox" [(ngModel)]="carac.value" />
</div>


<!-- STRING -->

<div *ngIf="carac.type == 'string' && !carac.updatable">
	<label>{{ carac.name }} :</label>
	<input type="text" [(ngModel)]="carac.value" disabled />
</div>

<div *ngIf="carac.type == 'string' && carac.updatable">
	<label>{{ carac.name }} :</label>
	<input type="text" [(ngModel)]="carac.value" />
</div>

<!-- LONG -->

<div *ngIf="carac.type == 'long' && !carac.updatable">
	<label>{{ carac.name }} :</label>
	<input type="number" [(ngModel)]="carac.value" disabled />
</div>

<div *ngIf="carac.type == 'long' && carac.updatable">
	<label>{{ carac.name }} :</label>
	<input type="number" [(ngModel)]="carac.value" />
</div>