<ul>
    <li *ngFor="let item of items" style="list-style-type: none;">
		<!-- Expanded or collapsed or no sub elements -->
		<span *ngIf="item.elements.length != 0 && item.expanded" (click)="item.toggle()"><img src="assets/ICO_Moins.gif"/></span>
		<span *ngIf="item.elements.length != 0 && !item.expanded" (click)="item.toggle()"><img src="assets/ICO_Plus.gif"/></span>
		<span *ngIf="item.elements.length == 0"><img src="assets/ICO_Empty.gif"/></span>
		
		<!-- Checkbox -->
		<span><input type="checkbox" [checked]="item.checked" (dblclick)="item.checkRecursive()" (click)="item.check()" /></span> 
		<span><input type="checkbox" [checked]="item.hidden" disabled /></span> 
		<span><input type="checkbox" [checked]="item.highlighted" disabled /></span> 
		
		<!-- Icon and name -->
		<span (click)="grapheMapComponent.onSelectMapElement(item)">
			&nbsp;
			<span><img src="assets/ICON_{{ item.type }}_16px-16px.png" style="width: 16px; height: 16px;"/></span>
			&nbsp;
			<span>({{ item.id }})</span>
			&nbsp;
			<span>{{ item.name }}</span>
		</span>
		
		<!-- Sub elements -->
        <div *ngIf="item.expanded">
            <app-tree-view [items]="item.elements" [grapheMapComponent]="grapheMapComponent"></app-tree-view>
        </div>
    </li>
</ul>
